html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
* {
  margin: 0%;
  padding: 0%;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.title_header{
    font-size: 35px;
    text-align: center;
}
.text{
    text-align: center;
    font-size: 22px;
}

.header img{
    width: 20%;
    float: left;
}

.menu{
    width: 100%;
}
.menu_info{
    width: 100%;
    background: #2980b9;
}
.menu_info li{
    float: left;
    list-style: none;
    padding-right: 60px;
}
.menu_info a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-align: center;
}
.menu_info li:hover {
	background: #0273a4;
    color:white;
    
}
.menu_info a:hover{
    text-decoration: none;
    color: white;
}
.menu_info li a {
  position: relative;
	color: #EEEEEE;
	display: block;
	outline: 0;
	text-decoration: none;
  text-shadow: 1px 1px 1px #0000;
    padding-left: 20px;
    text-align: center;
}


.btn {
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
    width: 100%;
}
.btn:before {
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background: #3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.btn i {
  margin-right: 10px;
}
.item {
  overflow: hidden;
    width: 100%;
}

.smenu {
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu a {
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 15px;
  margin: 4px 0;
  position: relative;
}
.smenu a:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu a:hover:before {
  opacity: 1;
}

.item:target .smenu {
  max-height: 25em;
}
.container {
  display: block;
  position: relative;
  top: 25px;
  left: 20px;
  padding-left: 35px;
  margin-bottom: 55px;
  cursor: pointer;
  font-size: 18px;
  color: white;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.container:hover input ~ .checkmark {
  background-color: #ccc;
}
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
 
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.test {
  position: absolute;
    width: 100%;
  
}
.layer {
  overflow: scroll;
  padding: 5px;
  border: solid 0px black;
  box-shadow: 0 0 15px 5px rgba(221, 221, 221, 1);
     height: 890px;
 }

.btnInfo {
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
  margin: 0.9%;
}
.left {
  position: absolute;
  top: 0%;
 }
.lLauer {
  overflow: scroll;
    width: 100%;
  height: 890px;
  padding: 5px;
  border: solid 0px black;
  box-shadow: 0 0 15px 5px rgba(221, 221, 221, 1);
 }
 .block_i {
  height: 120px;
  background-color: #ffffff;
  box-shadow: 0 0 15px 5px rgba(221, 221, 221, 1);
  position: relative;

}
.logo-mob{
    display: none;
    width: 500%;
    text-align: center;
}
.logo1{
    width: 50%;
}
@media only screen and (max-width: 580px) {
  .right_menu {display:none;}
    .logo {display: none;}
    .menu{display: none;}
    .menu_info{display: none;}
    .logo-mob{display: block;}
}
.menu__icon {
    display: none;
    width: 45px;
    height: 35px;
    position: relative;
    cursor: pointer;
}

.menu__icon span {
    display: block;
    position: absolute;
    height: 9px;
    width: 100%;
    background: #0273a4;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    left: 400%;
}
.menu__icon span{
    text-align: justify;
}

.menu__icon span:nth-child(1) {
    top: 0px;
}

.menu__icon span:nth-child(2), .menu__icon span:nth-child(3) {
    top: 13px;
}

.menu__icon span:nth-child(4) {
    top: 26px;
}@media screen and (max-width: 428px) {
  .menu__icon{
    display: inline-block;
  }
  
  .menu__links {
    position: fixed;
    display: block;
    top: 0;
    right: 0;
    left: 0;
    margin-top: 52px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    overflow: auto;
  }
  
  .menu__links-item {
    display: block;
    padding: 10px 0;
    text-align: center;
    color: #ffffff;
  }
}
.menu__icon{
    text-align: center;
}
.menu.menu_state_open .menu__icon span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__icon span:nth-child(2) {
    transform: rotate(45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(3) {
    transform: rotate(-45deg);
}

.menu.menu_state_open .menu__icon span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}

.menu.menu_state_open .menu__links {
    display: block;  
}
.name_school{
    text-align: center;
    font-size: 28px;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 25px;
}